<!-- start: #footer -->
<footer id='footer'>
  <div class='first-footer-col'>
    <p id='footer-description'>In print and online, Epigram is Bristol
      University's award-winning independent student newspaper. Each issue can
      be found in cafes, study spaces and libraries around campus.</p>
    <p id='footer-copyright'>Epigram, COPYRIGHT &copy2022</p>

  </div>
  <div id='second-footer-col'>
    <ul id='first-second-footer-col ' class='footer-nav'>
      <li id='footer-menu-item-1'>
        <a href='/about-us/'>About</a>
      </li>
      <li id='footer-menu-item-3'>
        <a href='/meet-the-team/'>Team</a>
      </li>
      <li id='footer-menu-item-2'>
        <a href='/read-the-paper/'>Print</a>
      </li>
      <li id='footer-menu-item-4'>
        <a href='/get-involved/'>Get Involved</a>
      </li>
      <li id='footer-menu-item-5'>
        <a href='/alumni/'>Alumni</a>
      </li>

    </ul>
    <ul id='second-second-footer-col' class='footer-nav'>
      <li id='footer-menu-item-1'>
        <a href='https://en-gb.facebook.com/EpigramPaper/'>Facebook</a>
      </li>
      <li id='footer-menu-item-2'>
        <a href='https://www.instagram.com/epigrampaper_/'>Instagram</a>
      </li>
      <li id='footer-menu-item-3'>
        <a href='https://www.instagram.com/thecroftmagazine__/'>The Croft</a>
      </li>
      <li id='footer-menu-item-4'>
        <a href='https://twitter.com/EpigramPaper'>Twitter</a>
      </li>
    </ul>
    <ul id='third-second-footer-col' class='footer-nav'>
      <li id='footer-menu-item-1'>
        <a href='/advertise-with-us/'>Advertise</a>
      </li>
      <li id='footer-menu-item-2'>
        <a href='https://issuu.com/epigrampaper'>Back Issues</a>
      </li>
      <li id='footer-menu-item-3'>
        <a href='/privacy/' id='footer-privacy-policy'>Privacy</a>
      </li>
    </ul>
  </div>
  <div id='third-footer-col'>
	{{!--
    <div class='newsletter'>
      <!-- Begin Mailchimp Signup Form -->
      <link
        href='//cdn-images.mailchimp.com/embedcode/slim-10_7.css'
        rel='stylesheet'
        type='text/css'
      />
      <style type='text/css'>
        #mc_embed_signup{background:#fff; clear:left; font:14px
        Helvetica,Arial,sans-serif; width:400px;} /* Add your own Mailchimp form
        style overrides in your site stylesheet or in this style block. We
        recommend moving this block and the preceding CSS link to the HEAD of
        your HTML file. */
      </style>
      <div id='mc_embed_signup'>
        <form
          action='https://gmail.us5.list-manage.com/subscribe/post?u=d26225c0c7c87bc20295436eb&amp;id=9c4c243686'
          method='post'
          id='mc-embedded-subscribe-form'
          name='mc-embedded-subscribe-form'
          class='validate'
          target='_blank'
          novalidate
        >
          <div id='mc_embed_signup_scroll'>
            <label for='mce-EMAIL'>Sign up for our newsletter :</label>
            <input
              type='email'
              value=''
              name='EMAIL'
              class='email footer-email-button'
              id='mce-EMAIL'
              placeholder='email address'
              required
              style='border-radius: 7px;'
            />
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div
              style='position: absolute; left: -5000px;'
              aria-hidden='true'
            ><input
                type='text'
                name='b_d26225c0c7c87bc20295436eb_9c4c243686'
                tabindex='-1'
                value=''
              /></div>
            <div class='clear'><input
                type='submit'
                value='Subscribe'
                name='subscribe'
                id='mc-embedded-subscribe'
                class='button'
              /></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
  <!-- </div> -->
  {{! <a href="javascript:void(0)" id="back-to-top">JUMP TO TOP<i class="fa fa-chevron-up"></i></a> }}
  <!-- </div> -->
  <!--<h2 class="blog-description">{{@site.description}}</h2>-->
  <script
    src='https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js'
    data-cfasync='false'
  ></script>
  <script>
    window.cookieconsent.initialise({ "palette": { "popup": { "background":
    "#aa0000", "text": "#ffdddd" }, "button": { "background": "#ff0000" } },
    "theme": "classic", "content": { "message": "We use cookies to ensure you
    get the best experience. By continuing to use our website, we assume you
    accept this.", "href": "/privacy/" } });
  </script>
</footer>
<!-- end: #footer -->
--}}