<div class="grid-container">
    <div class="flex flex-col flex-wrap lg:flex-row">
        <div class="flex-1">
            <div class=" mb-10 grid gap-2 md:grid-cols-3 md:grid-rows-6">
                        {{#foreach posts limit="9" }}
                            {{> "story/section-grid" classTitle='text-sm'}}    
                        {{/foreach}}
            </div>
            <div class="js-post-feed">
                <hr class="rounded section-divider {{#unless feature_image}}u-primaryGradient{{else}}bg-dark{{/unless}}">

                {{#foreach posts from="10"}}
                    {{!-- Story - partials/story/story-list.hbs --}}
                    {{> "story/story-list"}}
                {{/foreach}}
            </div>

            {{pagination}}
        </div>

        {{!-- Sidebar - partials/sidebar.hbs --}}
        {{> sidebar-default}}
    </div>
</div>