<section class="recent section">
    <div class="section articles" style="column-count:2;column-width:50%">
    {{#get "posts" limit="5" include="tags" as |post|}}
        {{#foreach post}}
            {{#if @first}}
                {{> first-article-new }}
            {{else}}
                {{> default-article-new }}
            {{/if}}
        {{/foreach}}
    {{/get}}
    </div>
</section>
