<style>
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
</style>
<!-- start: #sidebar -->
<aside id="sidebar" role="complementary" class="grid-25 tablet-grid-50">

<!-- start: DONATE WIDGET .widget_text -->
	<section class="widget widget_text">
		<!--<h4 class="widget-title title bordered">SUPPORT US</h4>-->

		<div class="textwidget">
			<a href="https://wearepercent.com/cause/331/Epigram-Bristol" class="sup" target="_blank"><img style="border-radius: 10px; pointer-events: none;" src="{{asset "images/coffee-new.gif"}}" class="img-sup"></a>
		</div>

		<div class="clear"></div>
	</section>
<!-- end: .widget_text -->

    <hr class="rounded" style="width:4%;height:10px;border-width:0; background-color:#c2262F; text-align:center; margin-left:48%">


<!-- start: FACEBOOK GROUPS .widget_ep_social -->
	<section class="widget widget_ep_social">
		<!--<h4 class="widget-title title bordered">Socials</h4>-->
		<div class="icons">
            <!--
			<a href="https://play.google.com/store/apps/details?id=com.epigram.android" class="google-play" target="_blank" style="border-top-left-radius: 10px; border-top-right-radius:10px">
				{{!-- <i class="fa fa-google-play"></i> --}}
                <img src="/assets/images/play_store_icon.png" style="width=20px;margin:10px">
				<p style="color: white">Google Play<span>Download our app</span></p>
			</a>-->

			<a href="https://www.facebook.com/groups/5485770991506391/"  target="_blank" class="sidebar-news" style="border-top-left-radius: 10px; border-top-right-radius:10px">
                <i class="fa fa-facebook-f"></i>
                <p style="color: #fff">News FB Group<span>Write for the news</span></p>
            </a>
            <a href="https://www.facebook.com/groups/216006101895414/ " target="_blank" class="sidebar-comment">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">Opinions FB Group<span>Write for opinions</span></p>
			</a>
            <a href="https://www.facebook.com/groups/740029676064402/  " target="_blank" class="sidebar-features">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">Features FB Group<span>Write for features</span></p>
			</a>
            <a href="https://www.facebook.com/groups/144930299191297/ " target="_blank" class="sidebar-science">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">SciTech FB Group<span>Write for Science&Tech</span></p>
			</a>
            <a href="https://www.facebook.com/groups/1481060972145583/  " target="_blank" class="sidebar-filmtv">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">Film/TV FB Group<span>Write for Film&TV</span></p>
			</a>
            <a href="https://www.facebook.com/groups/347609345420802/" target="_blank" class="sidebar-arts">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">Arts FB Group<span>Write for arts</span></p>
			</a>
            <a href="https://www.facebook.com/groups/417508958448352/ " target="_blank" class="sidebar-music">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">Music FB Group<span>Write for music</span></p>
			</a>
            <a href="https://www.facebook.com/groups/epigramsport/  " target="_blank" class="sidebar-sports">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">Sport FB Group<span>Write for sport</span></p>
			</a>
			<a href="https://www.facebook.com/groups/thecroftwriters/" target="_blank" class="sidebar-lifestyle" style="border-bottom-left-radius: 10px; border-bottom-right-radius:10px; height: 75px">
				<i class="fa fa-facebook-f"></i>
				<p style="color: #fff">Croft Writers FB Group<span>Write for croft writers</span></p>
			</a>


			<!-- Uncomment to activate -->
			<!--<a href="https://www.facebook.com/EpigramPaper/"  target="_blank" style="border-top-left-radius: 10px; border-top-right-radius:10px">
				<i class="fa fa-facebook-f"></i>
				<p style="color: white">Facebook<span>Keep up to date</span></p>
			</a>

			<a href="https://twitter.com/epigrampaper" target="_blank">
				<i class="fa fa-twitter"></i>
				<p style="color: white">Twitter<span>Follow the latest stories</span></p>
			</a>


			<a href="https://www.instagram.com/epigrampaper_/"  target="_blank" >
				<i class="fa fa-instagram"></i>
				<p style="color: white">Instagram<span>Check out our photography</span></p>
			</a>

			<a href="https://www.instagram.com/thecroftmagazine_/"  target="_blank" style="border-bottom-left-radius: 10px; border-bottom-right-radius:10px">
				<i class="fa fa-instagram"></i>
				<p style="color: white">The Croft<span>Our new lifestyle mag</span></p>
			</a>


			-->

			<!--<a href="#" class="dribbble" target="_blank">
				<i class="fa fa-dribbble"></i>
				<p>Dribbble<span>OUR CHANNEL!</span></p>
			</a>

			<a href="{{@site.url}}/rss" class="rss" target="_blank">
				<i class="fa fa-rss"></i>
				<p>RSS<span>Get our latest news!</span></p>
			</a>

			<a href="#" class="pinterest" target="_blank">
				<i class="fa fa-pinterest"></i>
				<p>Pinterest<span>Pin it!</span></p>
			</a>

			<a href="#" class="tumblr" target="_blank">
				<i class="fa fa-tumblr"></i>
				<p>Tumblr<span>Visit me!</span></p>
			</a>

			<a href="#" class="youtube" target="_blank">
				<i class="fa fa-youtube"></i>
				<p>Youtube<span>Check my channel!</span></p>
			</a>


			<a href="#" class="googleplus" target="_blank">
				<i class="fa fa-google-plus"></i>
				<p>Google Plus<span>Share This!</span></p>
			</a>

			<a href="#" class="flickr" target="_blank">
				<i class="fa fa-flickr"></i>
				<p>Flickr<span>See more photos!</span></p>
			</a>-->


		</div>
		<div class="clear"></div>
	</section>
<!-- end: .widget_ep_social -->

    <hr class="rounded" style="width:4%;height:10px;border-width:0; background-color:#c2262F; text-align:center; margin-left:48%">

<!--start:  ISSUU widget -->
<section class="widget" style="border-radius:10px; background-color:#db656b; height:300px; width:100%;  ">
    <a style=" justify-content: center; height:100%;"href="https://issuu.com/epigrampaper">
        <img src={{asset "images/white_transparent.png"}} style="display: block; margin:auto; padding-top: 50px; height:200px; items-align: center;">

        <h2 style="display:block; color: white; text-align:center; padding-top: 20px; font-family: 'Lora', serif;">Print Issues</h2>
    </a>
</section>

<hr class="rounded" style="width:4%;height:10px;border-width:0; background-color:#c2262F; text-align:center; margin-left:48%">



<!-- start: ADVERTISING .widget_text -->
	<section class="widget widget_text">
		<!--<h4 class="widget-title title bordered">ADVERTISING</h4>-->

		<div class="textwidget">
			<a id="sidebar-sup" href="" class="sup" target="_blank"><img style="border-radius: 10px; pointer-events: none; width:100%;" src="" class="img-sup"></a>
		</div>

		<!-- <div class="textwidget">

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Sidebar Fat Advert -->
		<!-- <ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-8236710384567365"
			data-ad-slot="3282417466"
			data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script> -->

		<div class="clear"></div>
	</section>
<!-- end: .widget_text -->

<!-- <hr class="rounded" style="width:4%;height:10px;border-width:0; background-color:#c2262F; text-align:center; margin-left:48%"> -->

<!-- start: ADVERTISING .widget_text -->
	<section class="widget widget_text">
		<!--<h4 class="widget-title title bordered">ADVERTISING</h4>-->

		<div class="textwidget">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Fat Advert Two -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8236710384567365"
     data-ad-slot="6851425529"
     data-ad-format="auto"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

		<div class="clear"></div>
	</section>
<!-- end: .widget_text -->

</aside>
<!-- end: #sidebar -->
