<!-- start: #sidebar -->
<aside id="sidebar" role="complementary" class="grid-25 tablet-grid-50">

<!-- start: .widget_text -->
	<section class="widget widget_text">
		<h4 class="widget-title title bordered">SUPPORT US</h4>

		<div class="textwidget">
			<a href="https://wearepercent.com/cause/331/Epigram-Bristol" class="sup" target="_blank"><img style="border-radius: 10px; pointer-events: none;" src="{{asset "images/coffee-new.gif"}}" class="img-sup"></a>
		</div>

		<div class="clear"></div>
	</section>
	<!-- end: .widget_text -->
<!-- start: .widget_text -->
	<section class="widget widget_text">
		<h4 class="widget-title title bordered">ADVERTISING</h4>

		<!-- <div class="textwidget">
			<a href="http://www.bristol.ac.uk/study/virtual-bristol/postgraduate/open-weeks/?utm_source=epigram&utm_medium=display&utm_campaign=pg-in-house-open-week-sep-2020" class="sup" target="_blank"><img style="border-radius: 10px; pointer-events: none; width:100%;" src="{{asset "images/postgrad_270x600.jpg"}}" class="img-sup"></a>
		</div> -->

		<div class="textwidget">

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Sidebar Fat Advert -->
		 <ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-8236710384567365"
			data-ad-slot="3282417466"
			data-ad-format="auto"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<div class="clear"></div>
	</section>
	<!-- end: .widget_text -->

	<!-- start: .widget_ep_social -->
	<section class="widget widget_ep_social">
		<h4 class="widget-title title bordered">Socials</h4>
		<div class="icons">
			<a href="https://www.facebook.com/EpigramPaper/" class="facebook" target="_blank" style="border-top-left-radius: 10px; border-top-right-radius:10px">
				<i class="fa fa-facebook"></i>
				<p style="color: white">Facebook<span>Keep up to date</span></p>
			</a>

			<a href="https://twitter.com/epigrampaper" class="twitter" target="_blank">
				<i class="fa fa-twitter"></i>
				<p style="color: white">Twitter<span>Follow the latest stories</span></p>
			</a>
			

			<a href="https://www.instagram.com/epigrampaper_/" class="custom" target="_blank" style="background: #E03367;">
				<i class="fa fa-instagram"></i>
				<p style="color: white">Instagram<span>Check out our photography</span></p>
			</a>

			<a href="https://www.instagram.com/thecroftmagazine__/" class="custom2" target="_blank" style="background: #CF71EE; border-bottom-left-radius: 10px; border-bottom-right-radius:10px">
				<i class="fa fa-instagram"></i>
				<p style="color: white">The Croft<span>Our new lifestyle mag</span></p>
			</a> 


			<!-- Uncomment to activate -->

			<!--<a href="#" class="dribbble" target="_blank">
				<i class="fa fa-dribbble"></i>
				<p>Dribbble<span>OUR CHANNEL!</span></p>
			</a>

			<a href="{{@site.url}}/rss" class="rss" target="_blank">
				<i class="fa fa-rss"></i>
				<p>RSS<span>Get our latest news!</span></p>
			</a>

			<a href="#" class="pinterest" target="_blank">
				<i class="fa fa-pinterest"></i>
				<p>Pinterest<span>Pin it!</span></p>
			</a>

			<a href="#" class="tumblr" target="_blank">
				<i class="fa fa-tumblr"></i>
				<p>Tumblr<span>Visit me!</span></p>
			</a>

			<a href="#" class="youtube" target="_blank">
				<i class="fa fa-youtube"></i>
				<p>Youtube<span>Check my channel!</span></p>
			</a>


			<a href="#" class="googleplus" target="_blank">
				<i class="fa fa-google-plus"></i>
				<p>Google Plus<span>Share This!</span></p>
			</a>

			<a href="#" class="flickr" target="_blank">
				<i class="fa fa-flickr"></i>
				<p>Flickr<span>See more photos!</span></p>
			</a>-->


		</div>
		<div class="clear"></div>
	</section>
	<!-- end: .widget_ep_social -->

	<!-- start: .widget_text -->
	<section class="widget widget_text">
		<h4 class="widget-title title bordered">ADVERTISING</h4>

		<div class="textwidget">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Fat Advert Two -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8236710384567365"
     data-ad-slot="6851425529"
     data-ad-format="auto"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

		<div class="clear"></div>
	</section>
	<!-- end: .widget_text -->

</aside>
<!-- end: #sidebar -->
