<ul>
	<li><a href="https://www.linkedin.com/company/epigram-paper/mycompany/" target="_blank"><i class="icon fa fa-linkedin"></i></a></li>
	<li><a href="https://www.instagram.com/epigrampaper_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
	<li><a href="https://twitter.com/epigrampaper/" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://www.facebook.com/EpigramPaper/" target="_blank"><i class="icon fa fa-facebook"></i></a></li>
	<!--<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>-->
	{{!-- <li><a href="https://www.instagram.com/thecroftmagazine__/" target="_blank"><i class="fa fa-instagram"></i></a></li> --}}
	{{!-- <li><a href="https://www.youtube.com/channel/UCYHkVu3xjR0emmu42n299zQ" target="_blank"><i class="fa fa-youtube-square"></i></a></li> --}}
</ul>