{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main id="home" class="main" role="main">
	
	<!-- start: .center -->
	<div class="center content grid-container">
	
		{{> breaking-news }}

		<!-- start: .ads -->

		<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Top Banner -->

        <!-- <ins class="adsbygoogle"
            style="display:inline-block;width:970px;height:90px"
            data-ad-client="ca-pub-8236710384567365"
            data-ad-slot="4646156948"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <amp-ad
            layout="fixed"
            width="970"
            height="90"
            type="adsense"
            data-ad-client="ca-pub-8236710384567365"
            data-ad-slot="4646156948">
        </amp-ad>-->
        <!--
		<div class="textwidget" style="margin-top: 20px; border-radius: 10px;">
			<a id="top-banner-sup" href="" class="sup" target="_blank"><img style="border-radius: 10px; pointer-events: none;" src="" class="img-sup"></a>
		</div>
		<!-- end: .ads
		
		<!-- start: .left-content
		<div class="left-content section articles grid-parent grid-50">
			<h3 class="title bordered">RECENT NEWS</h3>
			
				{{#foreach posts}}

					{{^is "paged"}}
					
						{{#if @first}}

							{{> first-article}}

						{{else}}

							{{> default-article}}

						{{/if}}

					{{else}}

						{{> default-article}}

					{{/is}}
					
				{{/foreach}}
			
			{{pagination}}
			
		</div>
		<!-- end: .left-content -->

		<!-- MAPACHE STUFF -->
		 {{#is "paged"}}
              {{!-- lates post - partials/loop.hbs --}}
              {{> "loop"}}
                {{else}}

                    {{!-- Home Top Section --}}
                    <div class="h-cover home-banner mx-auto mb-10 p-2 grid gap-2 lg:grid-cols-5">
                        {{#foreach posts visibility="all" from="1" to="3"}}
                            {{!-- Home Top Section -> 3 first Articles - partials/story/story-cover.hbs --}}
                            {{> story-cover }}
                            {{!--  {{> default-article}} --}}
                        {{/foreach}}
                    </div>


                    {{!-- Post Grid - 8 lates article - this should be 4 articles and be repeated for each section--}}
                    <div class="side container mx-auto mb-16">
                        <div class="left-content grid gap-8 md:grid-cols-2 lg:grid-cols-4">

                            {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
                            {{#foreach posts visibility="all" from="4" to="7"}}
                                {{> story-grid classTitle='text-xl'}}
                                {{!--{{> default-article}} --}}
                            {{/foreach}}

                        </div>
                    </div>

                    {{!-- this is the MAPACHE sidebar - might be better to use EPIGRAM sidebar with MAPACHE styling --}}
                    <div>
                        {{!-- Sidebar - partials/sidebar.hbs --}}
                        {{> "sidebar"}}
                    </div>

                  

                    {{/is}}

	
	</div>
	<!-- end: .center -->
	

		<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
        <!-- <script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us5.list-manage.com","uuid":"d26225c0c7c87bc20295436eb","lid":"9c4c243686","uniqueMethods":true}) })</script> -->>

</main>
