{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main id="home" class="main" role="main">
	
	<!-- start: .center -->
	<div class="center content grid-container">
	
		{{> breaking-news }}

		<!-- start: .ads -->

		<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Top Banner -->

        <!-- <ins class="adsbygoogle"
            style="display:inline-block;width:970px;height:90px"
            data-ad-client="ca-pub-8236710384567365"
            data-ad-slot="4646156948"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <amp-ad
            layout="fixed"
            width="970"
            height="90"
            type="adsense"
            data-ad-client="ca-pub-8236710384567365"
            data-ad-slot="4646156948">
        </amp-ad>-->
        <!--
		<div class="textwidget" style="margin-top: 20px; border-radius: 10px;">
			<a id="top-banner-sup" href="" class="sup" target="_blank"><img style="border-radius: 10px; pointer-events: none;" src="" class="img-sup"></a>
		</div>
		<!-- end: .ads
		
		<!-- start: .left-content
		<div class="left-content section articles grid-parent grid-50">
			<h3 class="title bordered">RECENT NEWS</h3>
			
				{{#foreach posts}}

					{{^is "paged"}}
					
						{{#if @first}}

							{{> first-article}}

						{{else}}

							{{> default-article}}

						{{/if}}

					{{else}}

						{{> default-article}}

					{{/is}}
					
				{{/foreach}}
			
			{{pagination}}
			
		</div>
		<!-- end: .left-content -->

		<!-- MAPACHE STUFF -->
		 {{#is "paged"}}
              {{!-- lates post - partials/loop.hbs --}}
              {{> "loop"}}
                {{else}}

                    {{!-- Home Top Section FEATURE TRENDING ARTICLES, not sure whether to use featured:true or weeklytop --}}
                    <div class="h-cover home-banner mx-auto mb-10 p-2 grid gap-2 lg:grid-cols-5">
                    {{#get "posts" filter="featured:true" limit="3"as |featured-top|}}
                        {{#foreach featured-top}}
                        {{!-- {{#foreach posts visibility="all" from="1" to="3"}} --}}
                            {{!-- Home Top Section -> 3 first Articles - partials/story/story-cover.hbs --}}
                            {{> story-cover }}
                            {{!--  {{> default-article}} --}}
                        {{/foreach}}
                    {{/get }}
                    </div>


                    {{!-- Post Grid - NEWS--}}
                    <div class="side container mx-auto mb-16">
                        <h4>NEWS</h4>
                        <div class="left-content grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                            {{#get "posts" filter="tags:[news]" limit="4" as |news|}}
                                {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
                                {{#foreach news}}
                                    {{> story-grid classTitle='text-xl'}}
                                    {{!--{{> default-article}} --}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>


                    {{!-- Post Grid - FEATURE--}}
                    <div class="side container mx-auto mb-16">
                        <h4>FEATURES</h4>
                        <div class="left-content grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                            {{#get "posts" filter="tags:[features]" limit="4" as |features|}}
                                {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
                                {{#foreach features}}
                                    {{> story-grid classTitle='text-xl'}}
                                    {{!--{{> default-article}} --}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>

                    {{!-- Post Grid - OPINION,  note use slug not tag!--}}
                    <div class="side container mx-auto mb-16">
                        <h4>OPINION</h4>
                        <div class="left-content grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                            {{#get "posts" filter="tags:[comment]" limit="4" as |opinion|}}
                                {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
                                {{#foreach opinion}}
                                    {{> story-grid classTitle='text-xl'}}
                                    {{!--{{> default-article}} --}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>

                    {{!-- Post Grid - SCITECH--}}
                    <div class="side container mx-auto mb-16">
                        <h4>SCI-TECH</h4>
                        <div class="left-content grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                            {{#get "posts" filter="tags:[science]" limit="4" as |science|}}
                                {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
                                {{#foreach science}}
                                    {{> story-grid classTitle='text-xl'}}
                                    {{!--{{> default-article}} --}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>

                    {{!-- Post Grid - CULTURE, note use slug not tag!--}}
                    <div class="side container mx-auto mb-16">
                        <h4>CULTURE</h4>
                        <div class="left-content grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                            {{#get "posts" filter="tags:[entertainment]" limit="4" as |culture|}}
                                {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
                                {{#foreach culture}}
                                    {{> story-grid classTitle='text-xl'}}
                                    {{!--{{> default-article}} --}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>

                    {{!-- Post Grid - SPORT--}}
                    <div class="side container mx-auto mb-16">
                        <h4>SPORT</h4>
                        <div class="left-content grid gap-8 md:grid-cols-2 lg:grid-cols-4">
                            {{#get "posts" filter="tags:[sport]" limit="4" as |sport|}}
                                {{!-- Story Grid - partiasl/story/story-grid.hbs --}}
                                {{#foreach sport}}
                                    {{> story-grid classTitle='text-xl'}}
                                    {{!--{{> default-article}} --}}
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>





                    {{!--need a SIDEBAR here --}}



                    {{/is}}

	
	</div>
	<!-- end: .center -->
	

		<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
        <!-- <script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us5.list-manage.com","uuid":"d26225c0c7c87bc20295436eb","lid":"9c4c243686","uniqueMethods":true}) })</script> -->>

</main>
