{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-article{{/contentFor}}

<div class=" mx-auto flex flex-col lg:flex-row my-10" style="padding-left: 5vw; padding-right:5vw; ">
        {{#post}}
        <article class="post min-w-0 flex-auto " style="width: 50vw;">
            {{#unless feature_image}}
                <div class="lg:pl-20">
                {{!-- Article Header - partials/article/article-header.hbs --}}
                {{> "article/article-header"}}
                {{!-- Article Author - partials/components/author-meta.hbs --}}
                {{> "components/author-meta"}}
                </div>
            {{else}}
                {{!-- Article Header - partials/article/article-header.hbs --}}
                {{> "article/article-header"}}
                {{!-- Article Author - partials/components/author-meta.hbs --}}
                {{> "components/author-meta"}}
            {{/unless}}

            {{!-- Featured Image - partials/article/article-media.hbs --}}
            {{> "article/article-media"}}

            {{!-- Article Content - partials/article/article-body.hbs --}}
            {{> "article/article-body"}}
        </article>


        {{!-- Sidebar - partials/sidebar.hbs --}}
        {{> sidebar-default}}

        {{/post}}
</div>

